.mdi-ul,ul{list-style-type:none}
.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.clear:after,.clearfix,.clearfix:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.dropdown-content li,.dropdown-menu>li>a,.form-horizontal .form-group:after,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after,.toast{clear:both}
.btn1,.btn1-flat,.btn1-large,.waves-effect,a,html{-webkit-tap-highlight-color:transparent}
button1,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button1,html input[type=button1],input[type=reset],input[type=submit]{-webkit-appearance:button1;cursor:pointer}
.collapsible-body,.row .col,html,span.badge{box-sizing:border-box}
ul{padding:0}
.btn1,.btn1-floating,.btn1-large,.card,.card-panel,.collapsible,.dropdown-content,.side-nav,.toast,.z-depth-1,nav{box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)}
i{line-height:inherit}
.container{margin:0 auto;max-width:1280px;width:90%;width:85%;width:70%}
html{line-height:1.5;font-weight:400;color:rgba(0,0,0,.87);font-size:14px;font-size:14.5px}
label{font-size:1.5rem;color:#9e9e9e}
.drag-target,.side-nav,.side-nav.fixed,.table1-of-contents.fixed{position:fixed}
.side-nav{width:240px;left:-105%;top:0;margin:0;height:100%;height:calc(100% + 60px);height:-moz-calc(100%);padding-bottom:60px;background-color:#fff;z-index:999;overflow-y:auto;will-change:left}
.side-nav li{float:none}
.side-nav li.active,.side-nav li:hover{background-color:#ddd}
.drag-target{height:100%;width:10px;top:0;z-index:998}
#sidenav-overlay{position:fixed;top:0;left:0;right:0;height:120vh;background-color:rgba(0,0,0,.5);z-index:997;will-change:opacity}
hr{height:0}
body{background:#efefef}
body::-webkit-scrollbar{display:none}
h1,h2,h3,h4,h5,h6{font-weight:500;margin:0;padding:0}
ol,ul{padding-left:15px}
ul li{list-style-type:disc}
ol li,ul li{list-style-position:inside}
.block{display:block}
.text-small{font-size:12px}
a:active,a:focus,a:hover{color:none;outline:0;text-decoration:none}
[type=checkbox]+label,[type=radio]+label{color:#444;font-size:15px}
[type=checkbox]:checked+label:before{border-right:2px solid #a40045;border-bottom:2px solid #a40045}
#slide-out-left,#slide-out-right{background:#fff;color:#444}
#slide-out-left li.active,#slide-out-left li:hover,#slide-out-right li.active,#slide-out-right li:hover{background-color:transparent}
#main-menu,#main-menu ul,#main-menu ul li,#main-menu ul li a{margin:0;padding:0;border:0;list-style:none;line-height:1.5;font-size:large;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#main-menu{width:100%;color:#fff}
#main-menu ul ul{display:none}
#main-menu>ul>li>a{padding:15px 20px;border-bottom:1px solid #eee;cursor:pointer;z-index:2;text-decoration:none;color:#444}
#main-menu>ul>li>a i.fa{display:inline-block;width:20px;color:#999;margin-right:1rem}
#main-menu>ul>li.open>a{border-bottom:0 solid #eee}
#main-menu>ul>li.has-sub>ul{border-bottom:1px solid #eee}
#main-menu ul ul li a{cursor:pointer;padding:10px 20px 10px 58px;z-index:1;text-decoration:none;color:#222}
#main-menu ul ul li:first-child>a{box-shadow:none}
#main-menu>ul>li>ul>li.last>a,#main-menu>ul>li>ul>li.open:last-child>ul>li:last-child>a,#main-menu>ul>li>ul>li:last-child>a{border-bottom:0}
#main-menu ul li.has-sub a span.fa{display:inline-block;float:right}
#main-menu ul ul li.open>a>span.fa,#main-menu>ul>li.open>a>span.fa{-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg)}
#page{padding-top:56px}
.top-navbar{border-bottom:1px solid #eee;background:#fff;height:56px;position:fixed;-webkit-transform:translateZ(0);z-index:99;top:0;left:0;right:0;width:100%}
.top-navbar .site-title{text-align:center;margin:0 auto;max-width:calc(100% - 100px);padding:7px 0}
.top-navbar .top-navbar-left{float:left}
.top-navbar .top-navbar-left a{font-size:22px;padding:10px 15px;display:inline-block;color:#ccc}
.content-article .entry-footer .social-share,.footer,.not-found,.product-share,.signing-form01 .or-separator,.social-footer a{text-align:center}
.not-found h2,b,optgroup,strong{font-weight:700}
.btn-group>.btn-group,.btn-toolbar .btn,.btn-toolbar .btn-group,.btn-toolbar .input-group,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.dropdown-menu{float:left}
.footer{background:#ddd;color:#455c69}
.footer .footer-main{padding:15px}
.social-footer{margin-bottom:5px}
.social-footer a{display:inline-block;margin:0 2px;font-size:20px;width:35px;height:35px;padding:5px 0 0;color:#fff;border-radius:50%}
.social-footer a.facebook{background:#3b5998}
.social-footer a.twitter{background:#55acee}
.social-footer a.gplus{background:#dd4b39}
.footer .navigation a{display:inline-block;margin:0 5px;font-size:13px}
.footer .copyright{background:#bbb;padding:15px;font-size:13px;color:#555}
.footer .copyright a{color:#555;font-size:13px;text-decoration:underline}
#record,#to-top{background:rgba(164,0,69,.5);position:fixed;text-align:center;color:#fff;z-index:111;border-radius:6px;overflow:auto}
#to-top{right:30px;bottom:-100px;width:40px;height:40px;padding:8px 0 0;font-size:15px;cursor:pointer;-moz-transition:all .7s ease-in-out;-o-transition:all .7s ease-in-out;-webkit-transition:all .7s ease-in-out;transition:all .7s ease-in-out}
body,html{width:100%;margin:0;padding:0;overflow-x:hidden;overflow-y:auto}
hr,img{border:0}
body,figure{margin:0}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
a{background-color:transparent}
a:active,a:hover{outline:0}
h1{margin:.67em 0}
img{vertical-align:middle}
hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
*,:after,:before,input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
button,input,optgroup,select,textarea{margin:0;font:inherit;color:inherit}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
.btn,.btn-danger.active,.btn-danger:active,.btn-default.active,.btn-default:active,.btn-info.active,.btn-info:active,.btn-primary.active,.btn-primary:active,.btn-success.active,.btn-success:active,.btn-warning.active,.btn-warning:active,.btn.active,.btn:active,.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover,.form-control,.navbar-toggle,.open>.dropdown-toggle.btn-danger,.open>.dropdown-toggle.btn-default,.open>.dropdown-toggle.btn-info,.open>.dropdown-toggle.btn-primary,.open>.dropdown-toggle.btn-success,.open>.dropdown-toggle.btn-warning{background-image:none}
.img-thumbnail,body{background-color:#fff}
*,:after,:before{box-sizing:border-box}
html{font-size:10px}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333}
button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}
a{color:#337ab7;text-decoration:none}
a:focus,a:hover{color:#23527c;text-decoration:underline}
a:focus{outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px}
hr{margin-top:20px;margin-bottom:20px;border-top:1px solid #eee}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}
.h1,.h2,.h3,h1,h2,h3{margin-top:20px;margin-bottom:10px}
.h1,h1{font-size:36px}
.h2,h2{font-size:30px}
p{margin:0 0 10px}
.badge,.label,dt,kbd kbd,label{font-weight:700}
.text-center{text-align:center}
dl,ol,ul{margin-top:0}
blockquote ol:last-child,blockquote p:last-child,blockquote ul:last-child,ol ol,ol ul,ul ol,ul ul{margin-bottom:0}
ol,ul{margin-bottom:10px}
.container{width:750px}
.container,.container-fluid{margin-right:auto;margin-left:auto;padding-right:15px;padding-left:15px}
.container{width:970px}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-right:0;padding-left:10px}
.col-xs-12{width:100%}
.col-xs-3{width:25%}
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}
.col-md-8{width:66.66666667%}
.col-md-2{width:16.66666667%}
.col-md-offset-2{margin-left:16.66666667%}
.badge,.btn,.btn-group,.btn-group-vertical,.caret,.checkbox-inline,.radio-inline{vertical-align:middle}
label{display:inline-block;max-width:100%;margin-bottom:5px}
input[type=checkbox],input[type=radio]{margin:4px 0 0;line-height:normal}
.form-control,output{font-size:14px;line-height:1.42857143;color:#555;display:block}
.form-control{width:100%;height:34px;padding:6px 12px;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.form-group{margin-bottom:15px}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;border-radius:4px}
.btn.focus,.btn:focus,.btn:hover{color:#333;text-decoration:none}
.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4}
.btn-primary.active,.btn-primary:active,.btn-primary:hover,.open>.dropdown-toggle.btn-primary{color:#fff;background-color:#286090;border-color:#204d74}
.open>a{outline:0}
.navbar-fixed-bottom,.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030}
.navbar-fixed-bottom{bottom:0;margin-bottom:0;border-width:1px 0 0}
.navbar-default{background-color:#f8f8f8;border-color:#e7e7e7}
.panel{margin-bottom:20px;background-color:#fff;border:1px solid transparent;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
.panel-body{padding:15px}
.panel-heading{padding:10px 15px;border-bottom:1px solid transparent;border-top-left-radius:3px;border-top-right-radius:3px}
.panel-group .panel-heading,.panel>.table-bordered>tbody>tr:first-child>td,.panel>.table-bordered>tbody>tr:first-child>th,.panel>.table-bordered>tbody>tr:last-child>td,.panel>.table-bordered>tbody>tr:last-child>th,.panel>.table-bordered>tfoot>tr:last-child>td,.panel>.table-bordered>tfoot>tr:last-child>th,.panel>.table-bordered>thead>tr:first-child>td,.panel>.table-bordered>thead>tr:first-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th,.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,.panel>.table-responsive>.table-bordered>thead>tr:first-child>th{border-bottom:0}
.panel-group{margin-bottom:20px}
.panel-group .panel{margin-bottom:0;border-radius:4px}
.panel-default{border-color:#ddd}
.panel-default>.panel-heading{color:#333;background-color:#f5f5f5;border-color:#ddd}
.btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before{display:table;content:" "}
.smlogo{max-height:38px;max-width:100%}
.heading h1,.heading h2,.heading h3,.heading topic{background-color:#ff1493;color:#fff;text-align:center;margin-top:0;margin-bottom:0}
.heading h2,.text{padding-bottom:3px}
.heading h2{padding-top:6px;font-size:30px!important}
.heading h3,.text{padding-bottom:3px}
.text{text-align:justify;border:4px solid #ff1493;padding-top:3px}
.call{display:flex;justify-content:center;align-items:center;background:#f2f2f2;--l:3.1em}
.customBox,.mobileShow{display:none}
.customBox+label{cursor:pointer;position:fixed;left:1.5em;bottom:1.5em;background-color:rgba(164,0,69,.5);height:var(--l);width:var(--l);border-radius:50%;z-index:2;opacity:1}
.customBox+label:after,.customBox+label:before{position:absolute;content:'';background-color:#fff;top:0;bottom:0;left:0;right:0;margin:auto;border-radius:.5em;transition:all .25s}
.customBox+label:before{height:calc(var(--l)/2);width:.25em}
.customBox+label:after{width:calc(var(--l)/2);height:.25em}
.customBox:checked+label:before{transform:rotatez(45deg);border-right:none;border-bottom:none}
.customBox:checked+label:after{transform:rotatez(45deg)}
.one,.three,.two{text-align:center;cursor:pointer;position:fixed;left:1em;bottom:1em;padding:.3em .56em;border-radius:50%;opacity:0;z-index:1;transform:rotateZ(90deg);font-size:1.8em;color:#fff;transition-property:all;transition-duration:.35s;transition-timing-function:cubic-bezier(.175,.885,.32,1.275)}
.customBox:checked~.one,.customBox:checked~.one:hover,.customBox:checked~.three,.customBox:checked~.three:hover,.customBox:checked~.two,.customBox:checked~.two:hover{opacity:1}
.one a,.three a,.two a{color:#fff;text-decoration:none}
.customBox:checked~.one{background-color:#007bff;transform:translateX(3.5em);transition-delay:.2s}
.customBox:checked~.two{background-color:#dc143c;transform:translateX(2.5em) translateY(-2.5em);transition-delay:.1s}
.customBox:checked~.three{background-color:#28a745;transform:translateY(-3.5em)}
#bottommenu{position:fixed;bottom:0;width:100%;height:auto;-webkit-transition:bottom .5s;transition:bottom .5s}
#bottomNav a{text-decoration:none;color:gray}
#bottomNav ul li{list-style:none;padding-top:3px}
.col-xs-3{min-height:.2vw!important;padding-right:3vw!important;padding-left:3vw!important}
#bottomNav ul li{padding-top:1vw}
.top-navbar .top-navbar-left a{font-size:8vw;padding:2vw 5vw}
.top-navbar{height:17vw}
.smlogo{max-height:10vw;max-width:95%;vertical-align:middle;display:block;margin-left:auto;margin-right:auto}
.mobileShow{display:inline}
.smlogo{max-height:10vw;max-width:100%;vertical-align:middle;display:block;margin-left:auto;margin-right:auto}
.mobileShow{display:inline}
.mobileShow{display:none!important}
.fa{display:inline-block;font:normal normal normal 14px/1 untitled-font-1;font-size:inherit;-webkit-font-smoothing:antialiased;vertical-align:middle}
.fa-cc-visa:before{content:"\61"}
.fa-commenting-o:before{content:"\62"}
.fa-comments:before{content:"\63"}
.fa-android:before{content:"\64"}
.fa-briefcase:before{content:"\69"}
.fa-cc-mastercard:before{content:"\6e"}
.fa-cc-paypal:before{content:"\6f"}
.fa-credit-card:before{content:"\70"}
.fa-facebook-square:before{content:"\72"}
.fa-facebook:before{content:"\73"}
.fa-home:before{content:"\75"}
.fa-google-plus-square:before{content:"\76"}
.fa-info-circle:before{content:"\77"}
.fa-inr:before{content:"\78"}
.fa-money:before{content:"\7a"}
.fa-phone-square:before{content:"\41"}
.fa-phone:before{content:"\42"}
.fa-pencil-square-o:before{content:"\43"}
.fa-pencil-square:before{content:"\44"}
.fa-paypal:before{content:"\45"}
.fa-pied-piper:before{content:"\46"}
.fa-qrcode:before{content:"\47"}
.fa-rocket:before{content:"\48"}
.fa-rss-square:before{content:"\49"}
.fa-twitter-square:before{content:"\4d"}
.fa-twitter:before{content:"\4e"}
.fa-university:before{content:"\4f"}
.fa-user-plus:before{content:"\51"}
.fa-user:before{content:"\52"}
.fa-usd:before{content:"\53"}
.fa-unlock-alt:before{content:"\54"}
.fa-whatsapp:before{content:"\58"}
.fa-youtube-square:before{content:"\59"}
.fa-youtube:before{content:"\5a"}
.fa-chevron-up:before{content:"\32"}
.fa-bars:before{content:"\4b"}
